<form action="/create_photo_from_comment" method="post">

  <input type="hidden" name="comment_id" value="<%= @comment.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>
