<h1>
  Add a new photo
</h1>


<hr>

<form action="/create_photo" method="post">

  <div class="form-group">
    <label for="comment_id">
      Comment
    </label>

    <%= select_tag(:comment_id, options_from_collection_for_select(Comment.all, :id, :article_id, @photo.comment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
